@charset "utf-8";
/* CSS Document */


/*网站基本定义*/
div,form,img,ul,ol,li,dl,dt,dd,p,tr,td,body,strong,span,pre,input{margin:0; padding:0; border:0; background-repeat:no-repeat;}
h1,h2,h3,h4,h5,h6,p{
	margin: 0;
	padding: 0;
	font-weight: normal;
	text-align: center;
	font-family: "微软雅黑";
	font-size: 16px;
	color: #000;
}
body{font-family:"微软雅黑";font-size:12px;margin:0px;padding:0px;color:#333;line-height:24px;height:auto;clear:both;min-width:1200px; }
img{border:0px;}
ul,li{ list-style:none;}
em,i{ font-style:normal;}
a{ text-decoration:none; color:#333; outline:none;}
a:hover{
	background-repeat: no-repeat;
	color: #0F0;
	font-family: "微软雅黑";
	font-size: 24px;
}
.del_float{ clear:both; line-height:0; height:0; font-size:0;}
a,area{blr:expression(this.onFocus=this.blur())}

/*网站基本定义*/

.clearfix:after{visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
.clearfix{*zoom:1;}


#kuang{
	height: 1200px;
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}
#ding{
	height:134px;
	width:1200px;
	margin-left:auto;
	margin-right:auto;
}

#lemon_menu{width: 100%;margin: 0 auto;height: 55px;position: relative;z-index: 10;}
.lemon_menu{width:1200px;margin: 0 auto;height: 55px;line-height: 55px;background: #fafafa;border-top: 1px solid #e6e6e6;}
.lemon_menu li{width:240px; float:left; list-style-type:none; line-height:55px; color:#646464;  text-align:center;}
.lemon_menu li a{  font-size:16px;
text-decoration:none;
color:#000; }
.lemon_menu li a:hover{background:#681821; color:#FFFFFF; display:block; height:55px;}









#neirong{
	width:1200px;
	height:1000px;
	margin-left:auto;
	margin-right:auto;
	border:#666 1px solid;
}
.neirongfen{
	width:853px;
	height:480px;
	margin-right:auto;
	margin-left:auto;
	margin-top:15px;
}
.neirongfen2{
	width:1000px;
	height:800px;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
}
.dibu{
	width:1200px;
	height:400px;
	margin-left:auto;
	margin-right:auto;
	background:url(../img/pic/123.png) no-repeat;
	background-position:120px 50px;
}
.dibu li{
	background-image: url(../img/pic/1234.png);
	background-repeat: no-repeat;
	background-position: 870px;	
}